<footer id="footer">

    <h5>About Shellter</h5>

    <div class="footer-links">

        <ul class="column">
            <li>
                <a href="">Our Mission</a>
            </li>
            <li>
                <a href="">Leadership</a>
            </li>
            <li>
                <a href="">Affiliates</a>
            </li>
        </ul>

        <ul class="column">
            <li>
                <a href="">Careers</a>
            </li>
            <li>
                <a href="">FAQ</a>
            </li>
            <li>
                <a href="">Contact Us</a>
            </li>
        </ul>

    </div>

    <p>
        © 2021 Shellter. All Rights Reserved.
    </p>

</footer>