<nav class="navbar">
    <div class="logo">
        <a href="/">Shellter
            <img src="/images/turtle-logo.svg" alt="turtle">
        </a>
    </div>
    <div class=" toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>