<header class="shop-header">

    <navbar class="top-bar">
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>

            <li>
                <a href="/gallery">GALLERY</a>
            </li>
            <li>
                <a href="/contact">CONTACT US</a>
            </li>
        </ul>
    </navbar>

    <div class="bottom-bar">
        <div class="logo">
            <a href="/">
                Shellter
                <!-- <img src="/misc/turtle-logo.svg" alt="shellter"> -->
            </a>
        </div>

        <ul class="shop-navbar">
            <li>
                <a href="/adopt">
                    Adopt a Sea Turtle
                </a>
            </li>
            <li>
                <a href="/gift-shop">
                    Gift Shop
                </a>
            </li>
        </ul>

        <div class="search-toggler">
            <button class="toggle-btn">
                <i class="las la-search"></i>
            </button>
        </div>

        <div class="search-bar">
            <form action="">
                <input type="text">
                <button>
                    <i class="las la-search"></i>
                </button>
            </form>
        </div>

        <ul class="user-links">
            <li class="login-link">
                <a href="/user/login">
                    <i class="las la-user-circle"></i>
                </a>
            </li>

            <li class="cart-link">
                <a href="#">
                    <i class="las la-shopping-cart"></i>
                    <span class="cart-content">0</span>
                </a>
            </li>
        </ul>

    </div>
</header>