<div class="sidebar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#what-we-do">What we do</a>
        </li>
        <li>
            <a href="#what-you-can-do">What you can do</a>
        </li>
        <li>
            <a href="/shop/adopt">Adopt a sea turtle</a>
        </li>
        <li>
            <a href="/shop">Gift shop</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
        <li>
            <a href="/contact">Contact us</a>
        </li>
    </ul>
</div>