<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/sidebar.ejs") %>
    <%- include("./partials/navbar.ejs") %>

    <h1>Page under construction...</h1>

</body>

</html>