<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <div class="login-left-column">

    </div>

    <div class="login-right-column">
        <h3>Log In</h3>
        <div class="form-container">
            <form action="/user/login" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email address" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div>
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
        <p>New user? <a href="/user/register">Register</a></p>
    </div>

</body>
</html>