<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body id="thanks">
    <div class="thanks-inner">
        <img src="/images/misc/thank-you-turtle.svg" alt="thanks">
        <div class="inner-text">
            <h1><%= message %></h1>
        </div>
        <a href="/home">return to home</a>
    </div>
</body>
</html>