$mainColor: #000;
$secondaryColor: #38d493;
$subColor: #00ccff;

$hoverColor: #333;
$buttonColor: #ec4653;
$grayBorder: #6fafae41;

$mainText: #000;
$secondaryText: #777;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: $mainText;
}

p,
a,
li,
textarea,
span,
input,
label {
  font-size: 16px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: $mainText;
}

/* -------------------------------- HOME NAVBAR  -------------------------------- */

.navbar {
  background: transparent;
  position: fixed;
  width: 100vw;
  height: 10vh;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 100;
  .logo {
    a {
      display: flex;
      align-items: flex-end;
      font-size: 24px;
      font-family: "Oswald", sans-serif;
      color: #fff;
    }
    img {
      width: 30px;
      margin-left: 2px;
    }
  }

  .toggle-btn {
    width: 20px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      width: 100%;
      height: 2px;
      background-color: $secondaryColor;
    }
  }
}

/* -------------------------------- SIDEBAR  -------------------------------- */

.sidebar {
  position: fixed;
  padding: 0 10px;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  transition: all 0.4s ease-in-out;
  z-index: 10;
  ul {
    margin-top: 15vh;
  }
  li {
    width: 100%;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-bottom: 2px solid $secondaryColor;
    &:hover {
      background-color: $hoverColor;
    }
    a {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

.sidebar.active {
  right: 0;
}

/* -------------------------------- HOME PAGE  -------------------------------- */

/* HEADER */

.home-header {
  background-image: url("/images/turtle-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 0;

  .inner {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    z-index: 1;
    h1,
    a {
      color: #000;
      text-transform: uppercase;
    }
    h1 {
      text-shadow: 7px 1px $secondaryColor;
    }
    .buttonLink {
      max-width: 100px;
      background: #111;
      padding: 10px 0;
      border-radius: 5px;
      margin: 20px auto;
      transition: all 0.3s ease;
      &:hover {
        background: $mainColor;
      }
      &:hover > a {
        color: $subColor;
      }
      a {
        font-weight: bold;
        color: #fff;
        transition: all 0.3s ease;
      }
    }

    @media (min-width: 1000px) {
      top: 70%;
      left: 50%;

      h1 {
        font-size: 64px;
      }
      .buttonLink {
        width: 100px;
        padding: 10px;
        a {
          font-size: 18px;
        }
      }
    }
  }
}

.home-header::after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
}

/* WHAT WE DO */

.section {
  padding: 80px 0;
  h2 {
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 1px $subColor;
  }
}

#what-we-do {
  .slider {
    width: 100vw;
    height: 50vh;
    position: relative;

    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    .slide.current {
      opacity: 1;
    }

    .slide:first-child {
      background-image: url("/images/slides/turtle_slide1.jpg");
    }
    .slide:nth-child(2) {
      background-image: url("/images/slides/turtle_slide2.jpg");
    }
    .slide:nth-child(3) {
      background-image: url("/images/slides/turtle_slide3.jpg");
    }
    .slide:nth-child(4) {
      background-image: url("/images/slides/turtle_slide4.jpg");
    }
    .slide:last-child {
      background-image: url("/images/slides/turtle_slide5.jpg");
    }
  }

  .card {
    max-width: 240px;
    margin: 20px auto;
    padding: 16px;
    border: 3px solid $mainColor;
    border-radius: 10px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    img {
      width: 80px;
    }
    h3 {
      color: $mainColor;
    }
    p {
      color: $secondaryText;
    }
  }

  .card:nth-child(odd) {
    border: 3px solid $secondaryColor;
    h3 {
      color: $secondaryColor;
    }
  }

  .card:hover {
    background-color: $mainColor;
    h3,
    p {
      color: #fff !important;
    }
    img {
      filter: brightness(0) invert(1) !important  ;
    }
  }

  .card:hover:nth-child(odd) {
    background-color: $secondaryColor;
    h3,
    p {
      color: #fff !important;
    }
    img {
      filter: brightness(0) invert(1) !important;
    }
  }

  @media (min-width: 600px) {
    .slider {
      width: 90vw;
      height: 50vh;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;
    }
    .cards-container {
      margin: 120px 0 100px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1000px) {
    .slider {
      height: 70vh;
      margin: auto;
    }
    .cards-container {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      margin: 120px 90px 100px 90px;
    }
  }
}

/* DONATE BANNER */
.donate-banner {
  background-image: url("/images/banners/donate-banner.jpg");
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    h4 {
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
    .buttonLink {
      margin: auto;
      width: max-content;
      background-color: $buttonColor;
      border-radius: 5px;
      padding: 10px 8px;
      a {
        font-size: 14px;
        color: #fff;
      }
    }
    .buttonLink:hover {
      background-color: #ff4e5d;
    }

    @media (min-width: 1000px) {
      h4 {
        font-size: 32px;
      }
      .buttonLink a {
        font-size: 18px;
      }
    }
  }
}

.donate-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
}

/* WHAT YOU CAN DO */
#what-you-can-do {
  padding: 80px 10px;
  .article {
    margin-bottom: 50px;
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .article-content {
      h3 {
        margin: 20px 0 10px 0;
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
  }

  @media (min-width: 600px) {
    .article {
      margin-bottom: 80px;
      img {
        margin: auto;
      }
    }
  }

  @media (min-width: 1000px) {
    .article {
      margin: 100px 20px;
      display: flex;
      align-items: center;
      img {
        width: 50%;
        margin: 0 20px;
      }
      .article-content {
        width: 50%;
        margin: 0 20px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        h3,
        p {
          text-align: right;
        }
      }

      &:nth-child(odd) {
        h3,
        p {
          text-align: left;
        }
      }
    }
  }
}

/* NEWSLETTER */

#newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  background: #48aaad;
  text-align: center;
  h3,
  p {
    color: #fff;
  }
  p {
    font-size: 14px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    input {
      max-width: 360px;
      width: 100%;
      margin: 3px 80px;
      border: none;
      padding: 5px 8px;
      border-radius: 2px;
      outline: none;
      font-size: 16px;
    }

    button {
      background: $buttonColor;
      color: #fff;
      padding: 5px 3px;
      margin: 8px 0;
      font-size: 14px;
      border: 1px solid #3c8f92;
      border-radius: 2px;
      cursor: pointer;
    }
  }

  @media (min-width: 1000px) {
    form {
      button {
        font-size: 16px;
        padding: 8px 5px;
      }
    }
  }
}

/* FOOTER */

footer {
  padding: 40px 20px 20px 20px;
  background-color: $mainColor;
  a,
  p,
  h5 {
    color: #eee;
    font-size: 14px;
  }

  .footer-links {
    margin: 30px 0;
    display: flex;
    .column {
      &:first-child {
        margin-right: 60px;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  p,
  a,
  li,
  textarea,
  span,
  input {
    font-size: 20px;
  }
}

/*------------------------------ DONATE PAGE ----------------------------------*/

#donate-header {
  height: 100vh;
  background-image: url("/images/donate-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .donate-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    h1 {
      color: #fff;
      text-shadow: 4px 1px $subColor;
    }
    .mid-text {
      color: $mainText;
      text-shadow: 4px 1px $secondaryColor;
    }
    p {
      margin-top: 8px;
      color: #fff;
    }
  }
  .down-arrow {
    width: 30px;
    position: absolute;
    bottom: 30px;
    left: 0%;
    right: 0%;
    margin: 0 auto;
    z-index: 1;
    animation: bounce 0.4s infinite;
    a {
      color: #fff;
      font-size: 32px;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
    }
    0% {
      transform: translateY(0px);
    }
  }
}

#donate-header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  opacity: 0.2;
}

#donation-packages {
  padding: 50px 0;
  @media (min-width: 1000px) {
    height: 100vh;
  }
  .container {
    width: 80%;
    margin: 20px auto;
    @media (min-width: 1000px) {
      display: flex;
      justify-content: center;
    }
    .item {
      max-width: 340px;
      width: 100%;
      margin-bottom: 20px;
      @media (min-width: 1000px) {
        margin-right: 20px;
      }
      img {
        width: 100%;
      }
      h3 {
        text-align: center;
      }
      li {
        font-size: 12px;
      }
    }
  }
}

#donation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 245, 167, 1) 11.2%,
    rgba(9, 111, 224, 1) 91.1%
  );
  .container {
    max-width: 380px;
    width: 100%;
    margin: 0 10px;
    padding: 30px 20px 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    h3 {
      text-align: center;
    }
    .form-outer {
      width: 100%;
      margin: 20px 0;
      form {
        display: flex;
        .page {
          display: none;
          width: 80%;
          margin: 0 auto;
          img {
            width: 100px;
          }
          .field {
            display: block;
            margin: 15px auto;
            label {
              display: block;
            }
            input {
              width: 100%;
              height: 100%;
              border: none;
              border-bottom: 3px solid lightgrey;
              outline: none;
              font-size: 16px;
              padding: 5px;
              &[type="radio"] {
                width: 14px;
                height: 14px;
                border: 1px solid lightgrey;
              }
            }
          }
          .buttons {
            display: block;
            margin: 15px auto;
            button {
              width: 80px;
              height: 30px;
              color: #fff;
              font-size: 16px;
              font-weight: bold;
              border: none;
              border-radius: 20px;
              background-color: #38d493;
              cursor: pointer;
            }
          }
        }
        .page.current {
          display: block;
        }
        .page:first-child {
          .field {
            label {
              display: inline;
            }
          }
        }
      }
    }
  }
}

/* -------------------------------- GALLERY  -------------------------------- */
#gallery {
  background-color: $mainColor;
  width: 100vw;
  .gallery-header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      color: #ffff;
      text-shadow: 4px 1px $secondaryColor;
    }
    p {
      color: #666;
    }
    @media (min-width: 600px) {
      height: 35vh;
    }
  }
  .gallery-images {
    max-width: 1600px;
    width: 100%;
    height: 65vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    justify-items: center;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    @media (min-width: 600px) {
      height: auto;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }

    .thumbnail {
      width: 200px;
      height: 95px;
      margin: 3px;
      transform: skew(-20deg);
      overflow: hidden;
      position: relative;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.3s ease;
      filter: grayscale(60%);
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
      }
      &.current {
        opacity: 1;
        filter: grayscale(0%);
      }
      img {
        width: 120%;
        height: 120%;
        position: absolute;
        top: -20px;
        left: -25px;
        transform: skew(20deg);
        object-fit: cover;
        pointer-events: none;
      }
    }
  }
  .full-image-container {
    width: 100%;
    padding: 40px 0;
    background: rgba(65, 65, 65, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    .full-image-inner {
      max-width: 620px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      img {
        width: 100%;
      }
      button {
        background: none;
        border: none;
        color: rgb(255, 255, 255);
        opacity: 0.7;
        font-size: 30px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#contact {
  .container {
    @media (min-width: 1000px) {
      display: flex;
    }
    .contact-info {
      height: 100vh;
      background: $mainColor;
      padding-top: 15vh;
      @media (min-width: 1000px) {
        width: 40%;
      }
      h2 {
        color: #fff;
        text-shadow: 4px 1px $secondaryColor;
        text-align: center;
        margin-bottom: 30px;
      }
      .contact-info-inner {
        width: 60%;
        margin: 20vh auto;
        .info {
          width: 100%;
          margin: 20px 0;
          display: flex;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            margin-right: 20px;
          }
          p {
            color: #fff;
          }
        }
      }
    }
    .contact-form {
      padding-top: 12vh;
      height: 100vh;
      h2 {
        color: $mainColor;
        text-shadow: 3px 1px $secondaryColor;
        text-align: center;
      }
      @media (min-width: 1000px) {
        width: 60%;
      }
      .contact-form-inner {
        max-width: 400px;
        width: 100%;
        margin: 20px auto;
        padding: 0 20px;
        form {
          .field {
            margin: 8px 0;
            label {
              display: block;
              margin-bottom: 8px;
            }
            input,
            textarea {
              width: 100%;
              height: 30px;
              padding: 5px;
              border: none;
              border-bottom: 3px solid $secondaryColor;
              background: rgba(204, 204, 204, 0.2);
              border-radius: 3px;
              outline: none;
            }
            textarea {
              height: 200px;
              resize: none;
            }
          }
          .button-wrapper {
            text-align: center;
            margin: 20px 0;
            button {
              width: 90px;
              background: $secondaryColor;
              color: white;
              padding: 8px;
              font-size: 18px;
              font-weight: bold;
              border: none;
              border-radius: 20px;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                background: $mainColor;
                color: $secondaryColor;
              }
            }
          }
        }
      }
    }
  }
}
