* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #000;
}

p,
a,
li,
textarea,
span,
input,
label {
  font-size: 16px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #000;
}

/* -------------------------------- HOME NAVBAR  -------------------------------- */
.navbar {
  background: transparent;
  position: fixed;
  width: 100vw;
  height: 10vh;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

.navbar .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #fff;
}

.navbar .logo img {
  width: 30px;
  margin-left: 2px;
}

.navbar .toggle-btn {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1000px) {
  .navbar .toggle-btn {
    margin-right: 30px;
  }
}

.navbar .toggle-btn span {
  width: 100%;
  height: 3px;
  background-color: #38d493;
}

/* -------------------------------- SIDEBAR  -------------------------------- */
.sidebar {
  position: fixed;
  padding: 0 10px;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}

.sidebar ul {
  margin-top: 15vh;
}

.sidebar li {
  width: 100%;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 2px solid #38d493;
}

.sidebar li:hover {
  background-color: #333;
}

.sidebar li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.sidebar.active {
  right: 0;
}

/* -------------------------------- HOME PAGE  -------------------------------- */
/* HEADER */
.home-header {
  background-image: url("/images/turtle-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.home-header .inner {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: 1;
}

.home-header .inner h1,
.home-header .inner a {
  color: #000;
  text-transform: uppercase;
}

.home-header .inner h1 {
  text-shadow: 7px 1px #38d493;
}

.home-header .inner .buttonLink {
  max-width: 100px;
  background: #111;
  padding: 10px 0;
  border-radius: 5px;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-header .inner .buttonLink:hover {
  background: #000;
}

.home-header .inner .buttonLink:hover > a {
  color: #00ccff;
}

.home-header .inner .buttonLink a {
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1000px) {
  .home-header .inner {
    top: 70%;
    left: 50%;
  }
  .home-header .inner h1 {
    font-size: 64px;
  }
  .home-header .inner .buttonLink {
    width: 100px;
    padding: 10px;
  }
  .home-header .inner .buttonLink a {
    font-size: 18px;
  }
}

.home-header::after {
  content: "";
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
}

/* WHAT WE DO */
.section {
  padding: 80px 0;
}

.section h2 {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 1px #00ccff;
}

#what-we-do .slider {
  width: 100vw;
  height: 50vh;
  position: relative;
}

#what-we-do .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

#what-we-do .slider .slide.current {
  opacity: 1;
}

#what-we-do .slider .slide:first-child {
  background-image: url("/images/slides/turtle_slide1.jpg");
}

#what-we-do .slider .slide:nth-child(2) {
  background-image: url("/images/slides/turtle_slide2.jpg");
}

#what-we-do .slider .slide:nth-child(3) {
  background-image: url("/images/slides/turtle_slide3.jpg");
}

#what-we-do .slider .slide:nth-child(4) {
  background-image: url("/images/slides/turtle_slide4.jpg");
}

#what-we-do .slider .slide:last-child {
  background-image: url("/images/slides/turtle_slide5.jpg");
}

#what-we-do .card {
  max-width: 240px;
  margin: 20px auto;
  padding: 16px;
  border: 3px solid #000;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#what-we-do .card img {
  width: 80px;
}

#what-we-do .card h3 {
  color: #000;
}

#what-we-do .card p {
  color: #777;
}

#what-we-do .card:nth-child(odd) {
  border: 3px solid #38d493;
}

#what-we-do .card:nth-child(odd) h3 {
  color: #38d493;
}

#what-we-do .card:hover {
  background-color: #000;
}

#what-we-do .card:hover h3,
#what-we-do .card:hover p {
  color: #fff !important;
}

#what-we-do .card:hover img {
  -webkit-filter: brightness(0) invert(1) !important;
          filter: brightness(0) invert(1) !important;
}

#what-we-do .card:hover:nth-child(odd) {
  background-color: #38d493;
}

#what-we-do .card:hover:nth-child(odd) h3,
#what-we-do .card:hover:nth-child(odd) p {
  color: #fff !important;
}

#what-we-do .card:hover:nth-child(odd) img {
  -webkit-filter: brightness(0) invert(1) !important;
          filter: brightness(0) invert(1) !important;
}

@media (min-width: 600px) {
  #what-we-do .slider {
    width: 90vw;
    height: 50vh;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  #what-we-do .cards-container {
    margin: 120px 0 100px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  #what-we-do .slider {
    height: 70vh;
    margin: auto;
  }
  #what-we-do .cards-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 120px 90px 100px 90px;
  }
}

/* DONATE BANNER */
.donate-banner {
  background-image: url("/images/banners/donate-banner.jpg");
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.donate-banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.donate-banner .banner-text h4 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.donate-banner .banner-text .buttonLink {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #ec4653;
  border-radius: 5px;
  padding: 10px 8px;
}

.donate-banner .banner-text .buttonLink a {
  font-size: 14px;
  color: #fff;
}

.donate-banner .banner-text .buttonLink:hover {
  background-color: #ff4e5d;
}

@media (min-width: 1000px) {
  .donate-banner .banner-text h4 {
    font-size: 32px;
  }
  .donate-banner .banner-text .buttonLink a {
    font-size: 18px;
  }
}

.donate-banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  opacity: 0.7;
}

/* WHAT YOU CAN DO */
#what-you-can-do {
  padding: 80px 10px;
}

#what-you-can-do .article {
  margin-bottom: 50px;
}

#what-you-can-do .article img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#what-you-can-do .article .article-content h3 {
  margin: 20px 0 10px 0;
  text-align: center;
}

#what-you-can-do .article .article-content p {
  text-align: justify;
}

@media (min-width: 600px) {
  #what-you-can-do .article {
    margin-bottom: 80px;
  }
  #what-you-can-do .article img {
    margin: auto;
  }
}

@media (min-width: 1000px) {
  #what-you-can-do .article {
    margin: 100px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #what-you-can-do .article img {
    width: 50%;
    margin: 0 20px;
  }
  #what-you-can-do .article .article-content {
    width: 50%;
    margin: 0 20px;
  }
  #what-you-can-do .article:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #what-you-can-do .article:nth-child(even) h3,
  #what-you-can-do .article:nth-child(even) p {
    text-align: right;
  }
  #what-you-can-do .article:nth-child(odd) h3,
  #what-you-can-do .article:nth-child(odd) p {
    text-align: left;
  }
}

/* NEWSLETTER */
#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  background: #48aaad;
  text-align: center;
}

#newsletter h3,
#newsletter p {
  color: #fff;
}

#newsletter p {
  font-size: 14px;
}

#newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#newsletter form input {
  max-width: 360px;
  width: 100%;
  margin: 3px 80px;
  border: none;
  padding: 5px 8px;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
}

#newsletter form button {
  background: #ec4653;
  color: #fff;
  padding: 5px 3px;
  margin: 8px 0;
  font-size: 14px;
  border: 1px solid #3c8f92;
  border-radius: 2px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  #newsletter form button {
    font-size: 16px;
    padding: 8px 5px;
  }
}

/* FOOTER */
footer {
  padding: 40px 20px 20px 20px;
  background-color: #000;
}

footer a,
footer p,
footer h5 {
  color: #eee;
  font-size: 14px;
}

footer .footer-links {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-links .column:first-child {
  margin-right: 60px;
}

footer .footer-links .column li {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  p,
  a,
  li,
  textarea,
  span,
  input {
    font-size: 20px;
  }
}

/*------------------------------ DONATE PAGE ----------------------------------*/
#donate-header {
  height: 100vh;
  background-image: url("/images/donate-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#donate-header .donate-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#donate-header .donate-text h1 {
  color: #fff;
  text-shadow: 4px 1px #00ccff;
}

#donate-header .donate-text .mid-text {
  color: #000;
  text-shadow: 4px 1px #38d493;
}

#donate-header .donate-text p {
  margin-top: 8px;
  color: #fff;
}

#donate-header .down-arrow {
  width: 30px;
  position: absolute;
  bottom: 30px;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  z-index: 1;
  -webkit-animation: bounce 0.4s infinite;
          animation: bounce 0.4s infinite;
}

#donate-header .down-arrow a {
  color: #fff;
  font-size: 32px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#donate-header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  opacity: 0.2;
}

#donation-packages {
  padding: 50px 0;
}

@media (min-width: 1000px) {
  #donation-packages {
    height: 100vh;
  }
}

#donation-packages .container {
  width: 80%;
  margin: 20px auto;
}

@media (min-width: 1000px) {
  #donation-packages .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#donation-packages .container .item {
  max-width: 340px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  #donation-packages .container .item {
    margin-right: 20px;
  }
}

#donation-packages .container .item img {
  width: 100%;
}

#donation-packages .container .item h3 {
  text-align: center;
}

#donation-packages .container .item li {
  font-size: 12px;
}

#donation {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(109.6deg, #3df5a7 11.2%, #096fe0 91.1%);
}

#donation .container {
  max-width: 380px;
  width: 100%;
  margin: 0 10px;
  padding: 30px 20px 50px 20px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

#donation .container h3 {
  text-align: center;
}

#donation .container .form-outer {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

#donation .container .form-outer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#donation .container .form-outer form .page {
  display: none;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#donation .container .form-outer form .page.current {
  display: block;
}

#donation .container .form-outer form .page:first-child .field label {
  display: inline;
}

#donation .container .form-outer form .page img {
  width: 100px;
}

#donation .container .form-outer form .page .field {
  display: block;
  margin: 15px auto;
}

#donation .container .form-outer form .page .field label {
  display: block;
}

#donation .container .form-outer form .page .field input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 3px solid lightgrey;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

#donation .container .form-outer form .page .field input[type="radio"] {
  width: 14px;
  height: 14px;
  border: 1px solid lightgrey;
}

#donation .container .form-outer form .page .buttons {
  display: block;
  margin: 15px auto;
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#donation .container .form-outer form .page .buttons button {
  width: 80px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: #38d493;
  cursor: pointer;
}

/* -------------------------------- GALLERY  -------------------------------- */
#gallery {
  background-color: #000;
  width: 100vw;
}

#gallery .gallery-header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gallery .gallery-header h1 {
  color: #ffff;
  text-shadow: 4px 1px #38d493;
}

#gallery .gallery-header p {
  color: #666;
}

@media (min-width: 600px) {
  #gallery .gallery-header {
    height: 35vh;
  }
}

#gallery .gallery-images {
  max-width: 1600px;
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: scroll;
  justify-items: center;
}

#gallery .gallery-images::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media (min-width: 600px) {
  #gallery .gallery-images {
    height: auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  #gallery .gallery-images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  #gallery .gallery-images {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

#gallery .gallery-images .thumbnail {
  width: 200px;
  height: 95px;
  margin: 3px;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  overflow: hidden;
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

#gallery .gallery-images .thumbnail:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#gallery .gallery-images .thumbnail.current {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#gallery .gallery-images .thumbnail img {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -20px;
  left: -25px;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

#gallery .full-image-container {
  width: 100%;
  padding: 40px 0;
  background: rgba(65, 65, 65, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

#gallery .full-image-container .full-image-inner {
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#gallery .full-image-container .full-image-inner img {
  width: 100%;
}

#gallery .full-image-container .full-image-inner button {
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#gallery .full-image-container .full-image-inner button:hover {
  opacity: 1;
}

@media (min-width: 1000px) {
  #contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#contact .container .contact-info {
  height: 100vh;
  background: #000;
  padding-top: 15vh;
}

@media (min-width: 1000px) {
  #contact .container .contact-info {
    width: 40%;
  }
}

#contact .container .contact-info h2 {
  color: #fff;
  text-shadow: 4px 1px #38d493;
  text-align: center;
  margin-bottom: 30px;
}

#contact .container .contact-info .contact-info-inner {
  width: 60%;
  margin: 20vh auto;
}

#contact .container .contact-info .contact-info-inner .info {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container .contact-info .contact-info-inner .info img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

#contact .container .contact-info .contact-info-inner .info p {
  color: #fff;
}

#contact .container .contact-form {
  padding-top: 12vh;
  height: 100vh;
}

#contact .container .contact-form h2 {
  color: #000;
  text-shadow: 3px 1px #38d493;
  text-align: center;
}

@media (min-width: 1000px) {
  #contact .container .contact-form {
    width: 60%;
  }
}

#contact .container .contact-form .contact-form-inner {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

#contact .container .contact-form .contact-form-inner form .field {
  margin: 8px 0;
}

#contact .container .contact-form .contact-form-inner form .field label {
  display: block;
  margin-bottom: 8px;
}

#contact .container .contact-form .contact-form-inner form .field input,
#contact .container .contact-form .contact-form-inner form .field textarea {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  border-bottom: 3px solid #38d493;
  background: rgba(204, 204, 204, 0.2);
  border-radius: 3px;
  outline: none;
}

#contact .container .contact-form .contact-form-inner form .field textarea {
  height: 200px;
  resize: none;
}

#contact .container .contact-form .contact-form-inner form .button-wrapper {
  text-align: center;
  margin: 20px 0;
}

#contact .container .contact-form .contact-form-inner form .button-wrapper button {
  width: 90px;
  background: #38d493;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#contact .container .contact-form .contact-form-inner form .button-wrapper button:hover {
  background: #000;
  color: #38d493;
}

/* -------------------------------- THANK YOU  -------------------------------- */
#thanks {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#thanks .thanks-inner {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  #thanks .thanks-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#thanks .thanks-inner img {
  width: 240px;
  margin-right: 30px;
}

#thanks .thanks-inner a {
  color: blue;
  position: absolute;
  top: 10px;
  left: 10px;
}

#thanks .thanks-inner a:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */